<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-clip-export" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" >
    <name>CordovaClipExport</name>
        <description>This cordova plugin allows to use the ReplayKit framework in iOS </description>
        <keywords>cordova,replaykit,screen recording</keywords>
        <license>MIT</license>
        <repo>https://github.com/OMNUSTECH/cordova-clip-export.git</repo>
        
    <js-module name="CordovaClipExport" src="www/CordovaClipExport.js">
        <clobbers target="cordova.plugins.ClipExport" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        <feature name="CordovaClipExport">
            <param name="ios-package" value="CordovaClipExport" />
        </feature>
        </config-file>
        <source-file src="src/ios/CordovaClipExport.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
        <framework src="ReplayKit.framework" />
        <framework src="UIKit.framework" />
    </platform>    
</plugin>


